* {
  box-sizing: border-box;
}

:root {
  --primary-color: #ffb900;
  --secondary-color: #171100;
  --bg-color: #fffcf4;
  --padding-nav-item: 21px;
}
html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
.title,
.title a {
  font-family: "Sen", sans-serif;
  color: var(--secondary-color);
}
/*  Common */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 11px 16px;
  border-radius: 999px;
  background: var(--secondary-color);
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
}

.btn:hover {
  opacity: 0.9;
}

a {
  text-decoration: none;
}
/* ===================================== */

/* Header */
.header {
  padding: 36px 0 8px;
  background: var(--bg-color);
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.header .body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .wrapper {
  display: flex;
  align-items: center;
}

.header .nav ul {
  display: flex;
}

.header .nav-list a {
  position: relative;
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  padding: 0 var(--padding-nav-item);
}

.header .nav-list .active {
  color: var(--secondary-color);
  font-weight: 600;
}

.header .nav-list .active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: var(--padding-nav-item);
  background: var(--secondary-color);
  width: 1.2rem;
  height: 2px;
}

.header .actions {
  margin-left: 49px;
}

.header .actions .action-btn {
  width: 144px;
}

/* hero */
.hero {
  padding: 64px 0;
  background: var(--bg-color);
}

.hero .wrapper {
  display: flex;
  justify-content: space-between;
}

.hero .media-block {
  position: relative;
}

.hero .media-block .image {
  border-radius: 20px;
  width: 470px;
  height: 685px;
  object-fit: cover;
}

.hero .content-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 470px;
}

.hero .content-block .title {
  color: var(--secondary-color);
  font-size: 5.8rem;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.116rem;
}

.hero .content-block .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.77;
  margin-top: 22px;
}

.hero .content-block .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 26px;
}

.hero .cta-group .btn {
  width: 180px;
  height: 64px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
}

.hero .cta-group .watch-video {
  display: flex;
  align-items: center;
  margin-left: 28px;
  background: transparent;
  cursor: pointer;
  border: none;
}

.hero .watch-video .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .watch-video span {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.77;
  margin-left: 14px;
}

.hero .desc.stats {
  margin-top: 8px;
}

.hero .desc.stats span + span {
  margin-left: 28px;
}

.hero .desc.stats strong {
  font-size: 4.4rem;
  font-weight: 600;
  padding-right: 16px;
}

/* hero-summary */
.hero-summary {
  position: absolute;
  right: -100px;
  bottom: 48px;
  width: 270px;
  min-height: 244px;
  padding: 28px 24px 14px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-summary .item {
  display: flex;
  align-items: center;
  padding-bottom: 14px;
}

.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
  background: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

.hero-summary .info {
  margin-left: 16px;
}

.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
}

.hero-summary .title {
  color: var(--secondary-color);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.hero-summary .item:nth-of-type(3) {
  margin-bottom: 0;
}

/* Courses */
.courses {
  padding: 64px 0;
  margin: 136px 0;
}

.courses .popular-top {
  display: flex;
  justify-content: space-between;
}

.courses .popular-top .title {
  color: #171100;
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.076rem;
}

.courses .popular-top .desc {
  width: 480px;
  max-width: 100%;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  margin-top: 16px;
}

.courses .controls {
  display: flex;
}

.courses .controls .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: solid 1px;
  border-color: var(--primary-color);
  border-radius: 50%;
  background: #ffffff;
  color: var(--primary-color);
  cursor: pointer;
}

.courses .icon + .icon {
  margin-left: 18px;
}
/* course list  */
.course-list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}
.course-list .course-item {
  width: 370px;
  border-radius: 1.2rem;
  background: #fff;
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course-item a img {
  width: 100%;
  height: 278px;
  object-fit: cover;
}

.course-item .info {
  padding: 16px 22px 32px;
}

.course-item .info .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-item .info .title {
  display: inline-block;
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

.course-item .info .rating {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 400;
}

.course-item .info .desc {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  margin-top: 6px;
}

.course-item .foot {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course-item .foot .price {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}
.course-item .foot .btn {
  border-color: transparent;
  font-size: 1.4rem;
  line-height: 1.772;
}
.course-item .foot .btn:hover,
.courses .controls .icon:hover {
  background: var(--primary-color);
  cursor: pointer;
  color: #fff;
}

/*  Feedback */
.feedback {
  background: #2e2100;
  padding: 96px 0;
}

.feedback-list .feedback-item {
  display: flex;
  justify-items: center;
}

.feedback-list .info .avatar {
  width: 72px;
  height: 72px;
  border-radius: 50%;
}

.feedback-list .info .title {
  color: #f7f7f7;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.42;
  margin-top: 18px;
}

.feedback-list .info .desc {
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86;
  margin-top: 4px;
}

.feedback-list .info .dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 60px;
  background: #634700;
  margin-top: 28px;
}

.feedback-list .info .dot.active {
  background: var(--primary-color);
}

.feedback-list .feedback-item .content {
  width: 66%;
  margin-left: auto;
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54;
}

/* Features */
.features {
  padding: 64px 0;
  margin-top: 136px;
}

.features .wrapper {
  display: flex;
  justify-content: space-between;
}

.features .images {
  width: 570px;
  height: 438px;
  display: flex;
  gap: 0 30px;
}

.features .images img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.features .images img.lower {
  margin-top: 34px;
}

.features .content {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.features .content .title {
  color: #171100;
  font-size: 3.8rem;
  font-weight: 600;
  line-height: 1.26;
  letter-spacing: -0.076rem;
}

.features .content .desc {
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 16px;
}

.features .btn.cta-btn {
  margin-top: 32px;
  background: var(--primary-color);
  min-width: 137px;
}

/* feature 2 */
.features.features-2nd  {
  margin-top: 72px;
}
.features-2nd .wrapper {
  flex-direction: row-reverse;
}

.features-2nd .content {
  width: 49%;
}

.features-2nd .images img {
  width: 470px;
  height: 440px;
  margin-left: auto;
}



/* Blog */

/* Footer */
